body{
  height: 100%;
 background-image:linear-gradient(to right, #f46b45, #eea849);
  background-image:-moz-linear-gradient(left, #f46b45, #eea849);
  padding: 25px;
}

.gradient_blue{
  width: 100%;
  min-height: 100%;
}

.div_center{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.btn_center{
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn_langues_right{
  display: flex;
  text-align: right;
  justify-content: right;
}

.btn_left{
  display: flex;
  justify-content: left;
}

.colocax{
  display: flex;
  text-transform: uppercase;
  text-align: center !important;
  align-items: center;
}

.colocax:hover{
  text-transform: uppercase;
}

.title{
  color: white;
  text-transform: uppercase;
}

.card{
  background-color: white;
  padding: 3%;
  color: grey;
  margin-top: 25px;
}

.btn{
  display: flex;
  font-size: 32px!important;
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 0px!important;
  border: 2px solid white!important;
}

.btn:hover{
  text-decoration: none;
  text-transform: none;
  color: #f46b45;
  background-color: white;
}

.btn2{
  display: flex;
  text-decoration: none;
  text-transform: none;
  color: white !important;
  padding: 10px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px!important;
  border: 0px solid white!important;
  background-color:  #f46b45;
}

.btn2:hover{
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  color: white !important;
  background-color: #f4ad9a;
}

.btn3{
  display: flex;
  text-decoration: none;
  text-transform: none;
  color:#f46b45 !important;
  padding: 7px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px!important;
  border: 0px solid white!important;
  background-color:  white;
}

.btn3:hover{
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  color: #f46b45 !important;
  background-color: #f9d4ca;
}

.input{
  width: 500px!important;
}

.btn_supprimer{
  display: flex;
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 10px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px!important;
  border: 0px solid white!important;
  background-color: #7f2a2a;
}

.btn_supprimer:hover{
  text-decoration: none;
  text-transform: none;
  background-color: #a86363;
  cursor: pointer;
}

.btn_langues{
  display: flex;
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 10px;
  border-radius: 0px!important;
  line-height: 15px;
}

.btn_langues:hover{
  text-decoration: none;
  text-transform: none;
  color: grey;
  background-color: white;
}

.btn_langues:active{
  text-decoration: none;
  text-transform: none;
  color: #f46b45;
  background-color: white;
}

.espace{
  height: 50px;
}

.line{
  background-color: lightgrey;
  width: 100%;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-color{
  color: grey!important;
}

#trash{
  width: 24px;
  color: white;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

#trash:hover{
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

#flag_icon{
  height: 17px;
  float: left;
  padding-right: 5px;
}

.messages{
  color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date{
  font-size: 14px;
  color: lightgrey;
  margin-bottom: 10px;
}

#libelle{
  font-weight: 600;
}

.infos{
  font-size: 18px;
}
