body{
  height: 100%;
  background-image:linear-gradient(to right, #0cebeb, #29ffc6);
  background-image:-moz-linear-gradient(left, #0cebeb, #29ffc6);
}

.gradient_blue{
  width: 100%;
  min-height: 100%;
}

.div_center{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.btn_center{
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn{
  display: flex;
  font-size: 32px!important;
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 0px!important;
  border: 2px solid white!important;
}

.btn:hover{
  text-decoration: none;
  text-transform: none;
  color: #0cebeb;
  background-color: white;
}
.espace{
  height: 150px;
}

.nav-contour{
  border: 1px solid white;
  margin: 25px;
}

.text-color{
  color: #0cebeb!important;
}
