{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
  <p class="text-center">
  <div class="title">
    <h1 class="text-center">{{ 'connexion_title'|trans }}</h1>
  </div>
  </p>
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
