<div class="fos_user_user_show">
    <p><span id="libelle">{{ 'account.identifiant'|trans }}: </span> {{ user.username }}</p>
    <p><span id="libelle">{{ 'account.email'|trans }}: </span> {{ user.email }}</p>
</div>
